In [22]:
#1)Дана строка чисел разделенных пробелами, вывести max и min
numbers = ('1 10 15 29 29 40 6 7 0 -589 589 9999')
numbers_in_list = numbers.split(' ')
numbers_in_list
int_list_numbers = []
for i in numbers_in_list:
    int_list_numbers.append(int(i))
int_list_numbers

print("Наибольшее значение =",  max(int_list_numbers))
print("Наименьшее значение =",  min(int_list_numbers))

Наибольшее значение = 9999
Наименьшее значение = -589

In [14]:
#2)Пинкод состоит из 4 или 6 цифр, вернуть True/False
first_pin = '3007'
second_pin = '996607'
third_pin = 'F87904'
result = False
def correct_pin(pincode: str) -> bool:
  if pincode.isdigit() and (len(pincode) == 4 or len(pincode) == 6):
    result = True
  else:
    result = False
  return result

correct_pin(first_pin)

True

In [18]:
correct_pin(second_pin)

False

In [16]:
correct_pin(third_pin)

False

In [4]:
#3)Является ли число квадратным (целое число, котороя есть квадрат другого целого)
def squared_number(number: int) -> bool:
  if number ** 0.5 == int(number ** 0.5):
    return True
  else:
    return False

list(filter(squared_number, [2, 4, 3, 16, 81, 72]))

[4, 16, 81]

In [6]:
#4)Функция возвращает последовательность уникальных элементов
def unique_in_order(lst: list) -> list:
  new_lst = [lst[0]]
  for value in lst:
    if value != new_lst[-1]:
      new_lst.append(value)
  return new_lst

unique_in_order([1, 1, 0, 5, 9, 5, 5, 9, 8, 10])

[1, 0, 5, 9, 5, 9, 8, 10]

In [11]:
#5)Дана строка слов, вернуть длину самого короткого слова
def min_length_word(st: str) -> int:
  lst = st.split(' ')
  new_lst = list(map(len, lst))
  return min(new_lst)

min_length_word('Last Christmas I gave U my heart')

1

In [12]:
#6)Цифровой корень
def digital_root(number: int) -> int:

In [34]:
#7)Вернуть средний символ слова
import math

def middle_let(word: str) -> str:
  if len(word) % 2 == 0:
    return word[int(len(word) / 2 - 1)], word[int(len(word) / 2)]
  else:
    return word[math.ceil(len(word) / 2) - 1]

middle_let('lalla')

'l'

In [15]:
#8)Функция возвращает True если число простое

def simple_number(number: int) -> bool:
  for i in range(2, number):
    if number % i == 0:
      return False
  return True

simple_number(6)

False

In [32]:
#9)Дан список целых чисел, их сумма четная или нет
from functools import reduce
def simple_summa(lst):
  return reduce(lambda x, y: x + y, lst) % 2 == 0

simple_summa([1, 2, 4, 10, 15, 1])

False

In [46]:
#Матрица(из прошлого)
lst = []
size = 10
counter = 10
for i in range(size):
  temp = []
  for j in range(size):
    temp.append(counter)
    counter += 1
  lst.append(temp)

lst

for i in range(size):
  for j in range(size):
    if (i == j or  i == size - j - 1):
      lst[i][j] = '*'

lst

[['*', 11, 12, 13, 14, 15, 16, 17, 18, '*'],
 [20, '*', 22, 23, 24, 25, 26, 27, '*', 29],
 [30, 31, '*', 33, 34, 35, 36, '*', 38, 39],
 [40, 41, 42, '*', 44, 45, '*', 47, 48, 49],
 [50, 51, 52, 53, '*', '*', 56, 57, 58, 59],
 [60, 61, 62, 63, '*', '*', 66, 67, 68, 69],
 [70, 71, 72, '*', 74, 75, '*', 77, 78, 79],
 [80, 81, '*', 83, 84, 85, 86, '*', 88, 89],
 [90, '*', 92, 93, 94, 95, 96, 97, '*', 99],
 ['*', 101, 102, 103, 104, 105, 106, 107, 108, '*']]